html, body, h3{margin:0;}

button{
    border:none;
    height:90px;
    width:120px;
    font-size: x-large;
    color: #5cbb53;
    text-shadow: 1px 1px 1px #7d713a;
}

#endScreenBody{
    color: #e99937;
}

#endGameText{
    color: #4e80af;
}

#descriptionText{
    color: #c34530;
}

.endScreenText{
    max-width: 700px;
}

.playerImage{
    width:120px;
    height:100px;
}

#infoDiv{
    justify-self: right;
}

#tryAgainButton{
    width: auto;
}

body{
    background-color: #6ea06d;
    display: grid;
    justify-content: center;
    align-items: center;
    height:55vh;
}

#player1Container > .playerDiv> .playerLabels{
    margin-top: 10px;
}

#player1Container{
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
}

#player2Container{
    grid-column: 1;
    grid-row: 2;
}

#player3Container{
    grid-column: 3;
    grid-row: 2;
}

#player4Container{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    grid-column: 2;
    grid-row: 3;
}

.playerDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1vh;
}

.playerLabels{
    color: #1e8ecb;
}

.playerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

#player4BottomDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#playerControls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:0.5vh;
}

#buttonsDiv{
    display: flex;
    gap:1.2vw;
}

.captionText{
    color: #425e54;
}

.cardsContainer{
    display: grid;
    grid-template-columns: 35px 35px 35px 35px 45px 45px 35px 35px 35px 35px 35px;
    grid-template-rows: 75px;
}

img.card{
    height: 75px;
    transition-duration: 200ms;
}

div.cardHitbox:hover img{
    transform: translateY(-30px);
}

#hitButton{
    background-color: #bd5b48;
}

#hitButton:hover{
    background-color: #c46b5b;
}

#standButton{
    background-color: #3da3c1;
}

#standButton:hover{
    background-color: #50abc8;
}